<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Questionário de Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-gray">
    <div class="container shadow">
        <h2>Questionário de Perfil do Investidor</h2>
        <form action="{{ url_for('processar') }}" method="post">
            <div class="box">
                <label>Qual seu objetivo principal?</label>
                <select name="objetivo" required>
                    <option value="">Selecione</option>
                    <option value="conservador">Preservar capital</option>
                    <option value="moderado">Equilibrar risco e retorno</option>
                    <option value="arrojado">Maximizar retorno</option>
                </select>
            </div>
            <div class="box">
                <label>Qual o número máximo de ativos que você quer ter?</label>
                <input type="number" name="n_ativos" min="5" max="20" required>
            </div>
            <div class="box">
                <label>Qual o seu horizonhte de investimento em anos?</label>
                <input type="number" name="max_ativos" min="1" max="20" required>
            </div>
            <!--
            <div class="box">
                <label>Qual seu horizonte de investimento?</label>
                <select name="horizonte" required>
                    <option value="">Selecione</option>
                    <option value="curto">Até 1 ano</option>
                    <option value="medio">1 a 5 anos</option>
                    <option value="longo">Mais de 5 anos</option>
                </select>
            </div>
            -->

            <div class="box">
                <label>Qual sua visão sobre Bitcoin?</label>
                <select name="Bitcoin" required>
                    <option value="">Selecione</option>
                    <option value="0.4">É a maior invenção da humanidade</option>
                    <option value="0.15">É genial</option>
                    <option value="0.5">É interessante, mas não acho que vá mudar o mundo</option>
                    <option value="0">Isso ai é uma fraude</option>
                </select>
            </div>
            <button type="submit" class="btn">Ver Portfólio</button>
        </form>
    </div>
</body>
</html>