<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Otimização de Portfólio B3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-gray">
    <div class="container shadow">
        <h1>Otimização de Portfólio B3</h1>
        <div class="box">
            <p>
                Monte um portfólio de investimentos personalizado na B3.<br>
                Responda um breve questionário e veja a sugestão de ativos e proporções ideais!
            </p>
            <a href="{{ url_for('formulario') }}" class="btn">Começar</a>
        </div>
    </div>
</body>
</html>